[submodule "app/templates"]
	path = app/templates
	url = https://github.com/buildingblocks/bb-prototype-website.git
[submodule "bb-prototype-website/templates"]
	path = bb-prototype-website/templates
	url = https://github.com/buildingblocks/bb-prototype-website.git
